<div data-hook="admin_shipping_method_form_calculator_fields">
	<% if @object.calculator.respond_to?('custom_template') %>
  	<%= render :partial => 'spree/admin/calculator/' + @object.calculator.class.name.split('::').last.underscore + '/calculator_fields' , :locals => { :f => f } %>
	<% else %>
  	<%= render :partial => 'spree/admin/shared/calculator_fields', :locals => { :f => f } %>
	<% end %>
</div>